/*Search Page*/

.seacrh_text{
	width: 900px;
	height: 300px;
}

.icon_search
{
	padding-top: 5px;
	height: 35px;
}

.search_button
{

}

#div_inline{
	display: inline;
}

.label_search_select{
	padding-right: 10px;
}

.select_box{

}

.btn{
	line-height: 2em;
	height: 2em;
}